# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
env/
venv/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Frontend directory
Frontend/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

